# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

/build
/docs
Noble2.0TestingGround/.vs/Noble2.0TestingGround/v16/.suo
Noble2.0TestingGround/.vs/Noble2.0TestingGround/v16/Browse.VC.db
Noble2.0TestingGround/.vs/Noble2.0TestingGround/v16/Browse.VC.opendb
Noble2.0TestingGround/.vs/Noble2.0TestingGround/v16/ipch/AutoPCH/99860fa6343d008/MAIN.ipch
TestingGround/.vs/TestingGround/v16/.suo
TestingGround/.vs/TestingGround/v16/.suo
TestingGround/.vs/TestingGround/v16/ipch/AutoPCH/4e85b6f377ee04d3/MAIN.ipch
*.db
TestingGround/.vs/TestingGround/v16/.suo
TestingGround/.vs/TestingGround/v16/Solution.VC.db-wal
TestingGround/.vs/TestingGround/v16/Solution.VC.db-shm
TestingGround/.vs/TestingGround/v16/Solution.VC.db
TestingGround/.vs/TestingGround/v16/ipch/AutoPCH/e295de7bc2b054db/APPLICATION.ipch
TestingGround/.vs/TestingGround/v16/ipch/AutoPCH/dc1ecce26fca85c2/MAIN.ipch
TestingGround/DataSaving/DataSaving.vcxproj
TestingGround/.vs/TestingGround/v16/ipch/AutoPCH/57e3ec0d342007e4/SYSTEM.ipch
TestingGround/.vs/TestingGround/v16/ipch/AutoPCH/4e85b6f377ee04d3/MAIN.ipch
TestingGround/.vs/TestingGround/v16/.suo
TestingGround/.vs/TestingGround/v16/Browse.VC.db
TestingGround/.vs/TestingGround/v16/Solution.VC.db
TestingGround/DataSaving/DataSaving.vcxproj.filters
TestingGround/DataSaving/DataSaving.vcxproj.user
TestingGround/.vs/TestingGround/v16/Solution.VC.db
TestingGround/.vs/TestingGround/v16/ipch/AutoPCH/765bd00f4f060fdc/MAIN.ipch
TestingGround/.vs/TestingGround/v16/ipch/AutoPCH/4e85b6f377ee04d3/MAIN.ipch
TestingGround/.vs/TestingGround/v16/Browse.VC.opendb
TestingGround/.vs/TestingGround/v16/Browse.VC.db
TestingGround/.vs/TestingGround/v16/ipch/AutoPCH/4e85b6f377ee04d3/MAIN.ipch
TestingGround/.vs/TestingGround/v16/Solution.VC.db
